<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <section>
      <main>
        <h1>Message Received!</h1>
        <h4><%= message %></h4>
        <p>
          Thank you for reaching out to us! We have received your message and
          will get back to you as soon as possible. Whether you're here for your
          brand, for a cause, or just for fun — we appreciate your interest!
          <br />
          Thanks, <br />
          Anish Shobith P S
        </p>

        <a href="https://anishshobithps.com/">
          <span>Website</span>
        </a>
      </main>

      <footer>
        <p>
          This email was sent to
          <a href="mailto:contact@anishshobithps.com" target="_blank"
            >contact@anishshobithps.com</a
          >
        </p>

        <p>
          © <%= new Date().getFullYear() %> - Anish Shobith P S. All Rights
          Reserved.
        </p>
      </footer>
    </section>
  </body>
</html>
